.card-detail {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 999999;
    position: fixed;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    max-width: 400px;
    background: #1D2125;
    padding: 25px;
    border-radius: 15px;
}

.card-detail img {
    width: 100%;
}

.card-detail .head h6 {
    color: white;
    font-size: 32px;
}
.card-detail .close {
    display: flex;
    justify-content: end;
}

.card-detail .close i {
    color: white;
    font-size: 24px;
}

.card-detail button{
    padding: 15px;
    background: #FDD526;
    border: none;
    outline: none;
    font-weight: 500;
    border-radius: 5px;
}

p  {
    color: white;
    margin: 0 !important;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;
}

ul li p {
    font-size: 18px;
}